<h2>Portfolio</h2>
<div class="thumbnail">
<figure class="i1">
   <img src="img/fruit1.jpg" alt="GMO Food image" /> 
   <figcaption>GMO Food 1</figcaption>
</figure>
<figure class="i2">
   <img src="img/fruit2.jpg" alt="GMO Food image" /> 
   <figcaption>GMO Food 2</figcaption>
</figure>
<figure class="i3">
   <img src="img/money1.jpg" alt="money" /> 
   <figcaption>Money1</figcaption>
</figure>
<figure class="i4">
   <img src="img/money2.jpg" alt="money" /> 
   <figcaption>Money2</figcaption>
</figure>
<figure class="i5">
   <img src="img/future1.jpg" alt="future" /> 
   <figcaption>Future1</figcaption>
</figure>
<figure class="i6">
   <img src="img/future2.jpg" alt="future" /> 
   <figcaption>Future2</figcaption>
</figure>
</div>
